/*
* <div align-self="top-left"></siv>
* <div align-self="bottom-right"></siv>
**/
[align-self] {
  // @include minWidth($tabletSmall) {
  display: flex;
  // }
}

[align-self^="top"] {
  align-self: start;
}

[align-self^="bottom"] {
  align-self: end;
}

[align-self^="center"] {
  align-self: center;
}

[align-self$="left"] {
  justify-self: start;
}

[align-self$="right"] {
  justify-self: start;
}

[align-self$="center"] {
  align-self: center;
}
