@import "@/assets/styles/variables/_sizeunits";

$sides: (
  "": "",
  "t": "-top",
  "b": "-bottom",
  "l": "-left",
  "r": "-right",
);

@each $space in $sizeUnits {
  @each $prefix, $value in $sides {
    $propSpace: nth($space, 1);
    $propSpaceValue: map-get($sizeUnits, nth($space, 1));

    .m#{$prefix}-#{$propSpace} {
      margin#{$value}: #{$propSpaceValue};
    }
    .p#{$prefix}-#{$propSpace} {
      padding#{$value}: #{$propSpaceValue};
    }
  }
}

@each $space in $clampSizeUnits {
  @each $prefix, $value in $sides {
    $propSpace: nth($space, 1);
    $propSpaceValue: map-get($clampSizeUnits, nth($space, 1));

    .cm#{$prefix}-#{$propSpace} {
      margin#{$value}: #{$propSpaceValue};
    }
    .cp#{$prefix}-#{$propSpace} {
      padding#{$value}: #{$propSpaceValue};
    }
  }
}
