html {
  font-size: 62.5%;
}

body {
  // height: 100vh;
  overflow-x: hidden;
}

.overflow-scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.sr-only,
.access-hidden {
  display: block;
  height: 1px;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
